.forms {
    margin: 5% 20% 5% 20%;
}

.button-cad-cliente{
    margin: 2%;
    padding-left: 42%;
}

.btn-prop {
    width: 30%;
}

.tittle {
    text-align: center;
    padding-top: 5%;
    font-size: revert;
}

.padding-text {    
    padding-top: 1%;
}