
<h2 class="tittle">Criar minha conta</h2>
<p class="subtittle">Informe os seus dados abaixo para criar sua conta.</p>
<form class="forms" [formGroup]="clienteForm" (ngSubmit)="onFormSubmit(clienteForm.value)">

    <div class="row">
        <div class="col-md-6 form-group padding-text">
            <label for="formGroupExampleInput">Nome Completo</label>
            <input formControlName="Nome" [ngClass]="{'border-error': mensagemErroNome }" (blur)="onBlurEventName($event)"  class="form-control" id="Nome" placeholder="Insira seu nome completo">
            <p class="error">{{this.mensagemErroNome}}</p>
        </div>
        <div class="col-md-6 form-group padding-text">
            <label for="formGroupExampleInput2">CPF/CNPJ</label>
            <input type='number' formControlName="Cpf_Cnpj"  class="form-control" id="Cpf_Cnpj" maxlength="11" placeholder="Insira seu CPF ou CNPJ">
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 form-group padding-text">
            <label for="formGroupExampleInput2">Telefone</label>
            <input formControlName="Telefone"  class="form-control" id="Telefone" placeholder="Telefone">
        </div>
        <div class="col-md-6 form-group padding-text">
            <label for="formGroupExampleInput2">Email</label>
            <input [ngClass]="{'border-error': mensagemErroEmail }" formControlName="Email" (blur)="onBlurEventEmail($event)"  class="form-control" id="Email" placeholder="Email">
            <p class="error">{{this.mensagemErroEmail}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md form-group padding-text">
            <label for="formGroupExampleInput2">CEP</label>
            <input [ngClass]="{'border-error': mensagemErroCep }" formControlName="Cep" (blur)="onBlurEventCEP($event)" class="form-control" id="Cep" placeholder="CEP">
            <p class="error">{{this.mensagemErroCep}}</p>
        </div>
        <div class="col-md form-group padding-text">
            <label for="formGroupExampleInput2">UF</label>
            <input formControlName="UF"  class="form-control" id="UF" placeholder="UF">
        </div>
        <div class="col-md form-group padding-text ">
            <label for="formGroupExampleInput2">Cidade</label>
            <input formControlName="Cidade"  class="form-control" id="Cidade" placeholder="Cidade">
        </div>
          
    </div>
    <div class="row">
        <div class="col-md form-group padding-text">
            <label for="formGroupExampleInput2">Bairro</label>
            <input formControlName="Bairro"  class="form-control" id="Bairro" placeholder="Bairro">
        </div>  
        <div class="col-md form-group padding-text">
            <label for="formGroupExampleInput2">Logradouro</label>
            <input formControlName="Logradouro"  class="form-control" id="Logradouro" placeholder="Logradouro">
        </div>
        
        <div class="col-md form-group padding-text">
            <label for="formGroupExampleInput2">Número</label>
            <input type='number' formControlName="Numero"  class="form-control" id="Numero" placeholder="Número">
        </div>
        
    </div>
    <div class="form-group padding-text">
        <label for="Complemento">Complemento</label>
        <input formControlName="Complemento"  class="form-control" id="Complemento" placeholder="Complemento">
    </div>
    <div class="row">
        <div class="col-md-6 form-group padding-text">
            <label for="Senha">Senha</label>
            <input  class="form-control" id="Senha" placeholder="Senha">
        </div>
        <div class="col-md-6 form-group padding-text">
            <label for="ConfirmarSenha">Confirmar Senha</label>
            <input  class="form-control" id="ConfirmarSenha" placeholder="Email">
        </div>
    </div>
    
    <div class="padding-button">
        <button [disabled] type="submit" class="btn btn-primary btn-prop btn-lg">Enviar</button>   
    </div>
</form>